.bg{
  /*The image used*/
background-image:url("../ip2/assets/backgrounds/landing.jpg");
text-align: center;

/* Full height */
height: 100%;

/* Centre and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
 important
 .bg2{
   /*The image used*/
   background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
   text-align: center;

   /*fullheight*/
   height: 100%;

   /*Centre and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 .btn {
     border: none; /* Remove borders */
     color: white; /*Add a text color*/
     padding:14px 28px; /*Add some padding */
     cursor: pointer; /*Add a pointer cursor on mouse-over */
 }
 .FastFood {background-color: #e7e7e7; color:black;} /*Gray*/
 .FastFood: hover {background: #ddd;}
