.bg{
  /* The image used */
background-image:url("../ip2/assets/backgrounds/landing.jpg");
text-align: center;

/* Full height */


/* Centre and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
 important
 .bg2{
   /*The image used*/
   background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
   text-align: center;

   /*fullheight*/
   height: 100%;

   /*Centre and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 .btn {
     border: none; /* Remove borders */
     color: Black; /*Add a text color*/
     padding:14px 28px; /*Add some padding */
     cursor: pointer; /*Add a pointer cursor on mouse-over */
 }
 .FastFood {background-color: #e7e7e7; color:black;} /*Gray*/
 .FastFood: hover {background: #ddd;}

 .button {
    border-radius: 4px;
    background-color: white
    border: #f4511e;
    color:none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width:200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
 }
.button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position:absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right:0
}
#ant{
  margin-left: 280px;
    margin-top: -246px
}
#gy{
  margin-left: 560px;
      margin-top: -290px;
}
#zero{
  border: solid;
    color: -290px;
    color: #eee;
    box-shadow: #ccc;
    box-shadow: 10px 10px 10px #ccc;
    width: 520px;
    height: 415px;
    margin-top: 25px;
}
#first{
  margin-left: 0px;
  margin-top: 11px;
}
#comment{
  margin-left: 590px;
      margin-top: -394px;
      width: 298px;
}
#cont{
  margin-top: 80px;
width: 298px;
}
#size{
  margin-top: -415px;
  margin-left: 244px;
}
#two{
  margin-left: -711px;
margin-top: 1px;
width: 361px;
}
#one{
  border: solid;
    color: -290px;
    color: #eee;
    box-shadow: #ccc;
    box-shadow: 10px 10px 10px #ccc;
    width: 520px;
    height: 415px;
    margin-top: 25px;
    margin-left: -481px;
}
